*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --background-color: #111315;
  --white: #fff;
  --text-color: #FAC1D9;
  --background-color-gray: #292C2D;
  --background-color-input: #3D4142;
}

html{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}


a{
  text-decoration: none;
  color: inherit;
}