.page_container{
    height: 100vh;
    background: var(--background-color);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page_container h1{
    color: var(--text-color) ;
    text-transform: uppercase;
    margin-bottom: 64px;
    font-size: 42px;
}

.login_form{
    background: var(--background-color-gray);
    border-radius: 24px;
    padding: 40px;
    max-width: 750px;
    width: 500px;
    display: flex;
    justify-content: center;
}

.login_form form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    padding: 0 50px;

}

.login_form form input{
    padding: 12px;
    background-color: var(--background-color-input);
    border: none;
    border-radius: 8px;
    margin-top: 8px;
    color : var(--white);
    font-size: 16px;

}

.login_txt{
    text-align: center;
    font-size: 24px;
    margin-bottom: 12px;
}

.login_form p{
    font-size: 12px;
    text-align: center;
    margin-bottom: 24px;
}

.login_form label{
    font-size: 14px;
    margin-top: 24px;
}


.remeber_me_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 24px;
    color: var(--text-color);
}

.remeber_me_section input{

    border-radius: 50%;
    background-color: transparent;
    border-color: var(--text-color);
    border-width: 2px;
}

.remeber_me{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 5px;
}

.remeber_me input{
    border-radius: 2px;
    background-color: transparent;
    border-color: var(--text-color);
    margin-top: 0 !important;
}

.login_btn {
    padding: 12px;
    background-color: var(--text-color) !important;
    border: none;
    border-radius: 8px;
    color: var(--background-color);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.login_btn:hover {
    background-color: var(--text-color) !important;
    opacity: 0.8;
}