.page_container{
    height: 100vh;
    background: var(--background-color);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page_container h1{
    color: var(--text-color) ;
    text-transform: uppercase;
    margin-bottom: 64px;
    font-size: 42px;
}

.login_form{
    background: var(--background-color-gray);
    border-radius: 24px;
    padding: 40px;
    max-width: 750px;
}

.login_form form{
    display: flex;
    flex-direction: column;

}

.login_form form input{
    padding: 10px;
    background-color: var(--background-color-input);
    border: none;
    border-radius: 8px;
    margin-top: 8px;

}

.login_txt{
    text-align: center;
    font-size: 24px;
    margin-bottom: 12px;
}

.login_form p{
    font-size: 12px;
    text-align: center;
    margin-bottom: 24px;
}

.login_form label{
    font-size: 14px;
    margin-top: 24px;
}


.remeber_me_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.remeber_me{
    display: flex;
    align-items: center;
    justify-content: center;
}

.remeber_me input{
    border-radius: 2px;
    background-color: transparent;
    border-color: var(--text-color);
}